.searchFrame {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

input {
  min-width: 13em;
}

button {
  margin-left: -24px;
}

.clearButton {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transform: translate(-100%, 0);
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
  line-height: 1;
  cursor: pointer;
  transform: translate(-100%, 0);
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
  line-height: 1;
  cursor: pointer;

  &:after {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1, .8);
    width: 24px;
    height: 24px;
    content: "x";
  }
}

input::-ms-clear {
  display: none;
}
