$red: #ff6b6b;
$yellow: #ffe66d;
$green: #4ecdc4;

.box {
  display: flex;
}
.box > div {
  justify-content: center;
  align-items: center;
  // width: 240px;
  // height: 240px;
  // margin: 12px;
  display: flex;
  background-color: teal;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  user-select: none;
}
