.map {
  display: 'block';
  min-width: 96vh;
  min-height: 78vh;
  max-height: 84vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  cursor: crosshair !important;

  // モバイルだともう少し高め
  @media screen and (max-width: 568px) {
    min-height: 72vh;
    max-height: 88vh;
  }

  // 地図内の要素のカーソルも設定
  * {
    cursor: crosshair !important;
  }
}
